{% extends "layout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>

<body style="background-color:honeydew; padding-top: 20px;">
    <div class="content-section">
        <br>
        <h2><u>{{ username }}'s Budget</u></h2>
        <div class="reset">
            <form method="POST" action="/saveBudget">
                {{ form.hidden_tag() }}
                <div class="dollar">
                    <input type="number" name="budget" step="0.01" placeholder="Budget" required>
                </div>
                <input type="submit" value="Set">
            </form>
        </div>

        <table class="table">
            <tr>
                <th><span style="color:green">Budget</span></th>
                <th><span style="color:red">Used</span></th>
                <th>Remaining</th>
            </tr>
            <tr>
                {% if budget %}
                <td style="color :green">{{ "%.2f"|format(budget.budget) }}</td>
                {% endif %}
                <td style="color:red">{{ "%.2f"|format(used) }}</td>
                {% if budget %}
                <td>{{ "%.2f"|format(budget.budget - used) }}</td>
                {% endif %}
            </tr>
        </table>

        <br>
        <h2><u>Expenses</u></h2>
        <div>
            <form method="POST" action="/saveExpense">
                {{ form.hidden_tag() }}
                <input type="text" name="expense" placeholder="Expense" required>
                <div class="dollar">
                    <input type="number" name="price" step="0.01" placeholder="Price" required>
                </div>
                <input type="submit" value="Add">
            </form>
            <form method="POST" action="{{ url_for('delete_all') }}">
                {{ form.hidden_tag() }}
                <input type="submit" value="Delete All">
            </form>
        </div>
        <style type="text/css">
            tr:nth-of-type(2n) {
                border: 1px solid black;
                background-color: rgba(150, 150, 150, 0.5);
            }

            td {
                padding: 8px 8px;
                border: 1px solid black;
            }
        </style>
        <details open>
            <summary style="font-size: 20px;">Details</summary>
            <table id="table1" class="table">
                <b>Search the table for Expense or Price:
                    <input id="searchh" type="text" placeholder="Search here">
                </b><br>
                <tr>
                    <th>Expense Name</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
                {% for expense in expenses %}
                <tr>
                    {% if expense %}
                    <td>{{ expense.expense }}</td>
                    <td>{{ "%.2f"|format(expense.price) }}</td>
                    {% endif %}
                    <td>
                        <form method="POST" action="{{ url_for('delete', expense_id=expense.id) }}">
                            {{ form.hidden_tag() }}
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <input type='button' name='export' value='Download CSV' />
            <script>
                $(document).ready(function () {
                    $("#searchh").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#table1 tr").filter(function () {
                            $(this).toggle($(this).text()
                                .toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>
        </details>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {

                const preparetext = function (text, regex, rep) {
                    text = text.replace(/(\r\n|\n|\r)/gm, '');
                    text = text.replace(/(\s\s)/gm, ' ');
                    text = text.replace(/"/g, '""');
                    return text;
                };
                document.querySelector('input[type="button"][name="export"]').addEventListener('click', e => {
                    let table = document.querySelector('table#table1');
                    let colHeaders = table.querySelectorAll('tr th');
                    let colRows = table.querySelectorAll('tr:not( .headers )');
                    let index = -1;
                    let exclude = 'Remove';
                    let headers = [];
                    let data = [];
                    colHeaders.forEach((th, i) => {
                        if (th.textContent != exclude) headers.push(['"', preparetext(th.textContent), '"'].join(''))
                        else index = i;
                    });
                    data.push(headers.join(','));
                    data.push(String.fromCharCode(10));
                    if (index > -1) {
                        colRows.forEach(tr => {
                            let cells = tr.querySelectorAll('td');
                            let row = [];
                            cells.forEach((td, i) => {
                                if (i !== index) row.push(['"', preparetext(td.textContent), '"'].join(''))
                            });
                            data.push(row.join(','));
                            data.push(String.fromCharCode(10));
                        });
                        let a = document.createElement('a');
                        a.download = 'Expense.csv';
                        a.href = URL.createObjectURL(new Blob(data));
                        a.click();
                    }
                })
            });
        </script>
    </div>
</body>
{% endblock content %}