{% extends "layout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>

<body style="background-color:honeydew; padding-top: 20px;">
    <div class="content-section">
        <br>
        <h2><u>{{ username }}'s Budget</u></h2>
        <div>
            <form method="POST" action="/saveBudget">
                {{ form.hidden_tag() }}
                <div class="dollar">
                    <input type="number" name="budget" step="0.01" required>
                </div>
                <input type="submit" value="Set">
            </form>
        </div>
        <table class="table">
            <tr>
                <th><span style="color:green">Budget</span></th>
                <th><span style="color:red">Used</span></th>
                <th>Remaining</th>
            </tr>
            <tr>
                {% if budget %}
                <td style="color :green">${{ budget.budget }}</td>
                {% endif %}
                <td style="color:red">${{ used }}</td>
                {% if budget %}
                <td>${{ budget.budget - used }}</td>
                {% endif %}
            </tr>
        </table>

        <br>
        <h2><u>Expenses</u></h2>
        <div>
            <form method="POST" action="/saveExpense">
                {{ form.hidden_tag() }}
                <input type="text" name="expense" placeholder="Expense" required>
                <div class="dollar">
                    <input type="number" name="price" step="0.01" required>
                </div>
                <input type="submit" value="Add">
            </form>
        </div>
        <style type="text/css">
            tr:nth-of-type(2n) {
                border: 1px solid black;
                background-color: rgba(150, 150, 150, 0.5);

            }

            td {
                padding: 8px 8px;
                border: 1px solid black;
            }
        </style>
        <details open>
            <summary style="font-size: 20px;">Details</summary>
            <table id="table1" class="table">
                <b>Search the table for Expense or Price:
                    <input id="searchh" type="text" placeholder="Search here">
                </b><br>
                <tr>
                    <th>Expense Name</th>
                    <th>Price</th>
                </tr>
                {% for expense in expenses %}
                <tr>
                    {% if expense %}
                    <td>{{ expense.expense }}</td>
                    <td>${{ expense.price }}</td>
                    {% endif %}
                    <td>
                        <form method="POST" action="{{ url_for('delete', expense_id=expense.id) }}">
                            {{ form.hidden_tag() }}
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <button id="export">Save expense to .csv</button>
            <script>
                $(document).ready(function () {
                    $("#searchh").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#table1 tr").filter(function () {
                            $(this).toggle($(this).text()
                                .toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>
        </details>
        <script type="text/javascript">
            const toCsv = function (table) {
                // Query all rows
                const rows = table.querySelectorAll('tr');

                return [].slice
                    .call(rows)
                    .map(function (row) {
                        // Query all cells
                        const cells = row.querySelectorAll('th,td');
                        return [].slice
                            .call(cells)
                            .map(function (cell) {
                                return cell.textContent;
                            })
                            .join(',');
                    })
                    .join('\n');
            };

            const download = function (text, fileName) {
                const link = document.createElement('a');
                link.setAttribute('href', `data:text/csv;charset=utf-8,${encodeURIComponent(text)}`);
                link.setAttribute('download', fileName);

                link.style.display = 'none';
                document.body.appendChild(link);

                link.click();

                document.body.removeChild(link);
            };

            const table = document.getElementById('table1');
            const exportBtn = document.getElementById('export');

            exportBtn.addEventListener('click', function () {
                const csv = toCsv(table);
                download(csv, 'Expenses.csv');
            });
        </script>
    </div>
</body>
{% endblock content %}